:root{
    --brightorange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}
*{
    box-sizing: border-box;
    margin: 0px;
    font-weight: 400;
}
body{
    max-height:800px;
    min-height: 100vh;
    max-width: 1440px;
    min-width: fit-content;
    display: grid;
    place-items: centre;
}
.card{
    display: flex;
    margin: auto;
    width: 65%;
    min-width:750px;
    height:70%;
    justify-content: center;
}
.section{
    display: flex;
    flex-direction: column;
    width:30%;
    height:100%;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.one{
    background-color: var(--brightorange);
    border-radius: 10px 0px 0px 10px;
}
.two{
    background-color: var(--dark-cyan);
}
.three{
    background-color: var(--Very-dark-cyan);
    border-radius: 0px 10px 10px 0px;
}
.image{
    width:90%;
    flex-basis:100%;
    padding:10px 0px;
}
.title{
    width:90%;
    padding:10px;
    flex-basis:100%;
}
.text{
    flex-basis:300%;
    padding: 20px;
}
.button{
    flex-basis: 100%;
}
p{
    color: var(--Transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
h1{
    color: var(--Very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}
button{
    background-color: var(--Very-light-gray);
    padding: 10px 25px;
    border:2px solid white;
    border-radius: 20px;
    font-family:'Lexend Deca', sans-serif;
    font-weight: 400;
}
button:hover{
    background-color: inherit;
    color: var(--Very-light-gray);
}
div{
    border: 2px black solid;
}
@media screen and (min-width:380px) and (max-width:750px){
    body{
        display: flex;
        margin: auto;
        min-width:400px;
        max-width:700px;
        padding:2em 0em;
    }
    .card{
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: auto;
        min-width: 600px;
        max-width: 80vw;
    }
    .one{
        border-radius: 10px 10px 0px 0px;
    }
    .three{
        border-radius: 0px 0px 10px 10px;
    }
    .section{
        width: 75%;
    }
    .section>.text{
        width:90%
    }
    .image,.title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
@media screen and (max-width:380px)
{
    body{
        display: flex;
        padding: 1em;
        width: 100vw;
        padding:2em 0em;
        align-items: center;
        justify-items: center;
    }
    p{
        font-size: 2em;
    }
    h1{
        font-size: 3em;
    }
    img{
        width: 100px;
        height: 75px;
    }
    .card{
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: auto;
        width: 80vw;
    }
    .one{
        border-radius: 10px 10px 0px 0px;
    }
    .three{
        border-radius: 0px 0px 10px 10px;
    }
    .section{
        width: 75%;
        height: 100vh;
    }
    .image,.title {
        display: flex;
        align-items: center;
        justify-content: center;
    }   
}